section {position: relative; height: 33%; /*border: 1px solid gold;*/ font-size: 400%;
text-align: left;}
main {height: 100%;}
a {text-decoration: none;}

#trainingTitle {position: absolute; left: 0; top: 10%;}
.training {position: absolute; height:60%; width: 20%;}
.training img{min-height: 100%;}
#titan {height: 40%;}

#ghost {left: 40%; bottom: 0;}
#lockune {left: 45%; top: 10%;}
#titan {left: 20%; top: 30%;}

.script {background: url("images/icons/bash.png"); height: 10%; width: 5%;}
.top {float:left;}
.bot {float:right;}

.sailor {position: absolute; height: 60%; width: 10%;}
.sailor img {min-height: 100%;}
#miranda img {min-height: 75%;}

#harold {left: 0%; top: 40%;}
#capt {left: 20%; top:20%;}
#miranda {left: 40%; bottom:0%;}
#sean {left: 60%; top: 30%;}
#tony {left: 80%; top: 40%;}

.villain {position: absolute; height: 60%; width: 20%;}
.villain img {min-height: 100%;}
/*#ruby img {min-width: 50%;}*/
#ruby {top: 20%; left: 35%;}
#scarlet {top: 40%; left: 40%;}