.clicked img {background: var(--rose);}

.mechanic {
	position: absolute;
	bottom:0;
	border: 1px solid gold;
}

#toolbar {position: absolute; height:33%; width: 98%; border:1px solid green;
		  bottom: 7%;}

#dialogue {left: 0%; height: 99%; width: 49%; border: 1px solid gold;
			background: var(--purple);}
#dialogue #headshot {position: absolute; width: 50%; height: 50%; 
					 text-align: center; border: 1px solid orange;}
#dialogue #headshot-helper {
	display: inline-block;
	display: inline-block;
	width: 0%;
	height: 100%;
	vertical-align: middle;
}
#dialogue #headshot img {max-height: 100%; max-width: 100%; 
						 min-width: 50%; position: relative; 
						 vertical-align: bottom;
						 right:0;}
#dialogue #textBox {position: absolute; width: 48%; height: 49%; top: 50%;
					border: 1px solid orange; overflow-wrap: break-word;
					text-align: center; overflow-y: scroll;}
#dialogue #selectBox {position: absolute; width: 50%; height: 100%; left: 50%;
					border: 1px solid orange; overflow-wrap: break-word;}

#console {right: 0%; height: 100%; width: 50%; border: 1px solid blue;}

#scripts {right: 0%; height: 70%; width: 50%; border: 1px solid red;}