.clicked img {background: var(--rose);}

.mechanic {
	position: absolute;
	bottom:5%;
	border: 1px solid gold;
}

#dialogue {left: 0%; height: 33%; width: 49%; border: 1px solid gold;
			background: var(--purple);}
#dialogue #headshot {position: absolute; width: 50%; height: 100%;}
#dialogue #headshot img {max-height: 100%; max-width: 100%; 
						 min-width: 50%;}
#dialogue #textbox {position: absolute; width: 50%; height: 100%; left: 50%;
					border: 1px solid orange; overflow-wrap: break-word;
					}

#console {right: 0%; height: 33%; width: 50%; border: 1px solid blue;}

#scripts {right: 0%; height: 20%; width: 50%; border: 1px solid red;}