section {position: relative; height: 33%; border: 1px solid gold; font-size: 400%;
text-align: center;}
main {height: 100%;}
a {text-decoration: none;}

#lockune, #titan {position: absolute; height:35%; width: 20%;}
#lockune img, #titan img {min-width: 40%;}
#lockune {left: 45%; top: 30%;}
#titan {left: 35%; top: 33%;}

.script {background: url("images/icons/bash.png"); height: 10%; width: 5%;}
.top {float:left;}
.bot {float:right;}

.sailor {position: absolute; height: 35%; width: 10%;}
.sailor img {min-width: 60%;}
#sean img, #tony img {}

#capt {left: 45%; top:20%;}
#harold {left: 30%; top: 30%;}
#miranda {left: 45%; bottom:0%;}
#sean, #tony {left: 60%; top: 30%;}
#tony {left: 70%;}

.villain {position: absolute; height: 35%; width: 20%;}
.villain img {min-width: 100%;}
#ruby img {min-width: 50%;}
#ruby {top: 20%; left: 35%;}
#scarlet {top: 40%; left: 40%;}