section {position: relative; height: 33%; border: 1px solid gold; font-size: 400%;
text-align: center;}
main {height: 100%;}
a {text-decoration: none;}

.training {position: absolute; height:35%; width: 20%;}
.training img{min-width: 40%;}
#ghost {left: 40%; bottom: 0;}
#lockune {left: 45%; top: 25%;}
#titan {left: 35%; top: 28%;}

.script {background: url("images/icons/bash.png"); height: 10%; width: 5%;}
.top {float:left;}
.bot {float:right;}

.sailor {position: absolute; height: 35%; width: 10%;}
.sailor img {min-width: 60%;}
#miranda img {min-width: 75%;}

#capt {left: 45%; top:22%;}
#harold {left: 20%; top: 38%;}
#miranda {left: 45%; bottom:0%;}
#sean, #tony {left: 70%; top: 35%;}
#tony {left: 80%;}

.villain {position: absolute; height: 35%; width: 20%;}
.villain img {min-width: 100%;}
#ruby img {min-width: 50%;}
#ruby {top: 20%; left: 35%;}
#scarlet {top: 40%; left: 40%;}